*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
html{
  height: 100%;
}
body {
  text-align: center;
}

/* This is css for blue Background skrews in firstSite container  */
.firstSite, .cardDetails{
  position: relative;
  height: 100%;
  background-color: #431781 ;
  overflow: hidden;
}
.bg-skew {
  height: 100%;
  width: 100%;
  background: #ffffff;
  transform: skewY(-10deg);
}
.textHorizontal{
  transform: skewY(10deg);
}
.bg-cardImg{
  position: absolute;
  top: -112px;
  left: 0;
  height: 800px;
  width: 100%;
}
.bg-cardImg img{
  width: 100%;
 
}

.bottom_skew{
  position: absolute;
  bottom: -144px;
  left: 0;
  height: 600px;
  width: 100%;
  background-size: 100%;
  background: #431781;
  transform: skewY(-10deg);

}

.bgdown{
  position: absolute;
  bottom: 0;
}
/* This is end css for blue Background skrews  in firstSite*/

/* Settings Navigon containter for Navbar */
.navbar{
  height: 13%;
  border-bottom: 2px solid #39146d;
  background-color: transparent;
}
#logoMiddle img{
  height: 77%;
}
#logoMiddle{
  width: 42%;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.hiddenBtn .btn-dark, .hiddenBtn .btn-warning{
  font-weight: bold;
  margin-left: 14px;
  font-size: 75%;
}
.hiddenBtn .btn-dark{
  color: #bb991f;
}
.btn-toolbar {
  justify-content: space-evenly !important;
}
.Navigon .btn-toolbar{
  margin-left: 17%;
}
.Navigon a{
  font-weight: bold;
  margin: 0 10px;
}
.Navigon .btn-dark{
  color: #F2C230;
}
.Navigon .navbar-brand{
  text-align: right;
}
.Navigon .transparentNav{
  background-color: transparent;
}
.menuText{
  color: #fad033;
  margin-left: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menuText h5{
  margin: 0;
}
/* Hamburger menu for Sidenav */

 /* naVIGATION WITH JAVA SCRIPT*/
.navigation {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  margin-left: 30px;
}

.toggle-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45px;
  align-items: flex-end;
}

.toggle-nav:hover {
  cursor: pointer;
}

.toggle-nav div {
  width: 72%;
  height: 2px;
  border-radius: 3px;
  background-color: #fad033;
  margin: 3px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 0;
  overflow-x: hidden;
  transition: width 0.35s ease-in-out;
  padding-top: 170px;
}

.sidebar a {
  color: #000000;
  padding: 3px 14px 0px 15px;
  font-size: 18px;
  text-decoration: none;
  transition: 0.5s;
  white-space: nowrap;
}

.sidebar a:hover {
  color: #fad033;
  text-decoration: none;
}
.sidebar h5 i {
  position: absolute;
  right: 25px;
  top: 28px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.navWidth {
  width: 370px;
}
.logoMenu{
  position: absolute;
  top: 19px;
  left: 7px;
  text-align: left;
  height: 45px;
  cursor: pointer;
}
.logoMenu img{
  height: 100%;
}
.bodyOpacity{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 22;
  height: 100%;
  background-color: #0000005b;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  transition: width 0.35s ease-in-out;

}
 /* First title field */
.created{
  text-align: center;
  margin-top: 130px;
  color: white;
}
.created a{
  color: #F2C230;
  font-weight: bold;
  text-decoration: underline;
}
.created a:hover{
  color: rgb(253, 235, 200);
  text-decoration: none;
}
.created h1{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 45px;
}
.created h6{
  width: 86%;
  margin: auto;
}
.assessmentBtn{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.assessmentBtn a{
  font-weight: bold;
}
/* Filters part */
.allFilters, .mobFilters{
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
}
.allFilters .btn, .mobFilters .btn{
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #601d9e;
  color: #601d9e;
  padding: 18px 0;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
}
.allFilters .btn:hover, .mobFilters .btn:hover{
  background-color: #431781;
  color: white;
}
.allFilters .category{
  width: 31%;
}
.mobFilters .category, .mobFilters .time, .mobFilters .group{
  width: 100%;
}
.allFilters .time{
  width: 46%;
}
.allFilters .group{
  width: 28%;
}
.allFilters p{
  text-align: left;
  margin: 0 0 0 10px;
}
.allFilters .browse{
  text-align: center;
  margin: 20px 0;
}
/* Card part  */
.cardsList{
  margin-top: 100px;
}
.card:hover{
  box-shadow: 1px 5px 10px 0px #5a5757;
  transition: all .5s linear;
}
.cardGame .card{
  margin-bottom: 20px;
}
.cardGame span{
  color: rgb(0, 212, 212);
  font-weight: bold;
}
.cardGame #img{
  background-color: black;
  width: 55px;
    padding: 6px;
}

.titleCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title{
  margin-bottom: 10%;
}
.cardGame .card-title{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 0;
}
.timeFrame{
  margin: 11px 0px;
  display: flex;
}
.timeFrame i{
  font-size: 25px;
  margin-right: 10px;
}
/* Footer component */
.footer{
  border-top: 2px solid #39146E;
  bottom: 0;
  width: 100%;
  background-color: #431781;
  margin-left: 0 !important;
}
.footer > div{
  padding: 20px;
}
.footer img{
  width: 30%;
}
.imgBottom{
  text-align: center;
  min-width: 310px;
}

.footerMenu{
  display: flex;
  justify-content: center;
  color: #ffffff;
  align-items: center;
  height: 100%;
}
.footerMenu a{
  color: white;
  font-weight: bold;
  margin: 0 10px;
}
.footerMenu a:hover{
  color: #fad033;
  text-decoration: none;
}
.links{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.links a{
  margin: 0 30px;
  font-size: 25px;
  color: #fad033;
}
.links a:hover{
  color: #bb991f;
}
.active{
  background-color: #431781;
  color: white;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active{
  background-color: #431781 !important;
  color: white !important;
}
.btn-primary:focus{
  color: #431781 !important;
  background-color: white !important;
  outline: none;
}
/* Animated text game not found */
.notFound{
  margin: 20px;
  font-weight: bold;
  position: relative;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #431781, #fff, #431781);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

/* CardDetails component */
.cardDetails .navbar, .contact .navbar{
  background-color: transparent;
}
.dashBoard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: gainsboro;
  border-radius: 15px;
  padding: 26px;
}
.dashBoard .card-title{
  font-weight: bold;
  margin: 0;
}
.cardInfo{
  margin-top: 40%;
}
.cardInfo h1{
  font-weight: bold;
}
.description{
  margin-top: 20px;
}
a.cardGame{
  color: black;
}
a.cardGame:hover{
  color: none;
  text-decoration: none;
}
/* Contact Page */
.chat{
  padding-left: 30px;
  border-right: 1px dotted #431781;
}
.info div{
  margin: 30px 0;
}
.chat h1{
  font-weight: 900;
}
.chat div span{
  font-size: 20px;
  text-transform: uppercase;
    color: gray;
}
.textDetail{
  padding: 10% 0;
}
.textTop{
  width: 70%;
  padding: 10px 0;
  border-bottom: 1px dotted #431781;
  margin-bottom: 30px;
}
.form {
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
}

  .form h1 {
      font-weight: 100;
      color: gray;
  }


.form label input, .form label select, .form label textarea {
    display: block;
    width: calc(100% - 20px);
    padding: 15px;
    border: none;
    border-radius: 3px;
    margin: 0 10px;
    background-color: #e8e8e8;
    width: 177px;
}
.form label input:focus, .form label textarea:focus{
  background-color: #ffffff;
  border-bottom: 5px solid #dddcdc;
  outline: none;
}
.form button {
    padding: 10px 0;
    margin-top: 20px;    
    font-size: 35px;
    text-transform: uppercase;
    color: #431781;
    border: none;
    border-radius: 3px;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: white;
}
.form label{
  margin-bottom: 0;
  margin-top: 10px;
}
.btnSend button{
  border-bottom: 1px solid #431781;
}
.btnSend button:hover{
  color: #69449e ;
  transition: all .3s linear;
}
.carousel-indicators li { visibility: hidden; }

.carousel-caption{
  color: #431781 !important;
  top: 50%;
}
.carousel-indicators{
  z-index: -222 !important;
  height: 20px;
}
.carousel-control-next, .carousel-control-prev{
  cursor: default;
}
.carousel-inner, .carousel .slide, .carousel-caption{
  height: 30%;
}
.contact{
  background-color: #43178180;
  overflow: hidden;
}
.carousel{
  top: 87px;
}
.contact-skew{
  position: absolute;
    bottom: -220%;
    left: 0;
    height: 800px;
    width: 100%;
    background: #431781;
    transform: skewY(-10deg);
}
.contAllOf{
  padding: 0 5%;
}
/* LogIn site */
.logIn{
  background-color: #431781ba;
  padding: 40% 0;
}
.logIn a {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}
.logIn h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}
/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.createAcc{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.createAcc h1{
  font-weight: 900;
}
#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
#detail{
  margin: 30% 0;
  padding: 10% 0;
}
/* TABS */

 h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #ffc107;
}

/* FORM TYPOGRAPHY*/

.logIn input[type=button], .logIn input[type=submit], .logIn input[type=reset]  {
  background-color: #ffc107;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 #c2bba6;
  box-shadow: 0 10px 30px 0 #c2bba6;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 40px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.logIn input[type=button]:hover,.logIn  input[type=submit]:hover, .logIn input[type=reset]:hover  {
  background-color: #c29100;
}

.logIn input[type=button]:active, .logIn input[type=submit]:active, .logIn input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.logIn input[type=text], .logIn input[type=email], .logIn input[type=number], .logIn input[type=password]  {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 10px auto;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
  width: 300px;
}
.log{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}
.logIn input[type=text]:focus, .logIn input[type=password]:focus, .logIn input[type=number]:focus, .logIn input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #ffc107;
}
.forLabel{
  position: relative;

}
.forLabel label{
  z-index: 22;
  position: absolute;
  top: 2px;
  left: 20px;
  font-size: 14px;
  font-weight: 500;
}
.selector p{
  z-index: 22;
  position: absolute;
  top: -9px;
  left: 15px;
  font-size: 14px;
  font-weight: 500;
}
 .selector{
  position: relative;
  background-color: #f6f6f6;
  margin: 10px auto;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select{
  background-color: #f6f6f6;
  width: 80%;
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
}
.selector p{
  margin: 0;
}
#sector{
  background-color: white;
}
.logIn input[type=text]:placeholder {
  color: #cccccc;
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #ffc107;
  content: "";
  transition: width 0.2s;
}
#formFooter a{
color: #ffc107;
text-decoration: none;
}
.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

*:focus {
    outline: none;
} 
.caro{
  position: absolute;
  top: -20%;
  width: 100%;
}
#icon {
  width: 205px;
  height: 205px;
}
/* AboutUs page */
#about{
  top: 400px;
  background-color: white;
  box-shadow: 0px 2px 13px 0px rgba(0,0,0,0.75);
  height: auto;
  margin-top: 35%;
}
.about{
  background-color: #431781;
  padding-bottom: 20%;
}
.bg-cardImg img{
  position: absolute;
  top: 88px;
}
.titleAbout h1{
  color: #431781;
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  
}
.normalText{
  transform: skewY(10deg);
  padding: 100px 0 10px 20px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.aboutText h2{
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 900;
}
.aboutText{
  margin-top: 50px;
  transform: skewY(10deg);
  text-align: center;
  padding: 0 50px;
}
.team{

  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #727272;
}
.team p{
  text-align: left;
  color: #5e5e5e;
  line-height: 1.9;
  padding: 15px;
}
.teamText{
  margin-top: 20px;
}
.iconsTeam i{
  padding: 10px;
  font-size: 25px;
  color: white;
  margin: 0 5px;
  width: 45px;
}
.iconsTeam .fa-twitter{
  background-color: rgb(9, 162, 223);
  border-radius: 60%;
}
.iconsTeam .fa-linkedin-in{
  background-color: rgb(1, 17, 155);
  border-radius: 60%;
}
.iconsTeam .fa-envelope{
  background-color: rgb(161, 2, 2);
  border-radius: 60%;
}
.iconsTeam .fa-pinterest-p{
  background-color: rgb(223, 9, 9);
  border-radius: 60%;
}
.teamCard .card-title{
  font-size: 30px;
  color: #431781;
}

/* Mobile Fitlers */
.modal-btn{
  width: 90%;
}
.close > span{
  font-size: 50px;
}
.modal-footer{
  justify-content: flex-start !important;
}
.filterBtnMob{
  position: fixed;
  z-index: 333;
  width: 100%;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
}
.filterBtnMob button{
  margin-left: 20px;
}
/* Background Animation */
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-53deg, #000 50%, #068de7 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}
h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.activeBtn{
  visibility: visible;
  transition: width 0.35s ease-in-out;
}
.hiddenBtn{
  visibility: hidden;
  transition: width 0.35s ease-in-out;
    transform: translate(0, -100%);
}
.blue{
    background-color: #431781;
    transition: all 0.5s ease-in-out;
    color: red;
}